<!DOCTYPE html>
<html>
<head>
    @* а это так работает? *@
    Access-Control-Allow-Origin: http://localhost:8081/
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стажировка в аналитических решениях</title>
    @Styles.Render("~/Content/reset.css")
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/node_modules/vue/dist/vue.min.js")
</head>
<body>
    <div id="app"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="http://localhost:8080/js/chunk-vendors.js"></script>
    <script type="text/javascript" src="http://localhost:8080/js/app.js"></script>
</body>
</html>
