@model AnReshWebApp.Models.Employee

@{
    ViewBag.Title = "EditPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Edit","Employee"))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Редактирование данных работника</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.Label("ФИО:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Full_name, new { htmlAttributes = new { @class = "form-control" }  })
                @Html.ValidationMessageFor(model => model.Full_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Отдел:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Department.Name,new SelectList(ViewBag.Departments), new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Department.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Заработная плата:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Salary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Salary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-default">Применить изменения</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад", "EmployeeForm")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
