@model IEnumerable<AnReshWebApp.Models.Employee>

@{
    ViewBag.Title = "EmployeeForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Стажировка в Аналитических Решениях</h1>
<h2>Сотрудники</h2>


<table class="table">
    <tr>
        <th>
            ID
        </th>
        <th>
            ФИО
        </th>
        <th>
            Департамент
        </th>
        <th>
            Заработная плата
        </th>
        <th>
            Операции
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Изменить", "EditPage", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
<tr>
    <td>
        ...
    </td>
    <td>
        Новый сторудник
    </td>
    <td>

    </td>
    <td>

    </td>
    <td>
        @Html.ActionLink("Добавить", "CreationPage")
    </td>
</tr>
</table>
